In [9]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from pprint import pprint
import pandas as pd

In [10]:
engine = create_engine('sqlite:///fitbit.sqlite')

In [11]:
inspector = inspect(engine)

In [12]:
inspector.get_table_names()

['Runs', 'intraday_heartrate', 'intraday_steps']

In [13]:
Base = automap_base()
Base.prepare(autoload_with=engine)

In [14]:
Base.classes.keys()

['Runs', 'intraday_heartrate', 'intraday_steps']

In [15]:
Runs = Base.classes.Runs
Heartrate = Base.classes.intraday_heartrate
Steps = Base.classes.intraday_steps

In [20]:
session = Session(engine)

steps_data=session.query(Steps.date,Steps.time,Steps.steps).all()
# steps_data

In [21]:
steps_df=pd.DataFrame(steps_data, columns=['date','time','steps'])
steps_df

           date      time  steps
0    2023-08-24  00:00:00      0
1    2023-08-24  00:05:00      0
2    2023-08-24  00:10:00      0
3    2023-08-24  00:15:00      0
4    2023-08-24  00:20:00      0
..          ...       ...    ...
549  2023-08-25  22:35:00      0
550  2023-08-25  22:40:00     11
551  2023-08-25  22:45:00      0
552  2023-08-25  22:50:00      0
553  2023-08-25  22:55:00      0

[554 rows x 3 columns]

In [18]:
session.query(Runs.date,Runs.duration, Runs.distance, Runs.pace).all()

[]

In [22]:
heartrate_data=session.query(Heartrate.date,Heartrate.time, Heartrate.rate).all()
# heartrate_data

In [50]:
# session.query(Steps.date,Steps.time,Steps.steps).all()
# session.query(Steps).delete()
# session.commit()

In [51]:
# session.query(Runs.date,Runs.duration,Runs.distance,Runs.pace).all()
# session.query(Runs).delete()
# session.commit()

In [52]:
# session.query(Heartrate.date,Heartrate.time,Heartrate.rate).all()
# session.query(Heartrate).delete()
# session.commit()